* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: vazir;
  src: url("../assets/fonts/Vazirmatn-Regular.ttf");
  src: url("../assets/fonts/Vazirmatn-Regular.eot");
  src: url("../assets/fonts/Vazirmatn-Regular.woff");
  src: url("../assets/fonts/Vazirmatn-Regular.woff2");
}
:root {

  --primary-color: #2563eb;
  --primary-hover: #1d47ba;

  --bg-main: #ffffff;
  --bg-soft: #f8fafc;
  --overlay-bg: rgba(0, 0, 0, 0.5);
  

  --text-main: #1e293b;
  --text-muted: #64748b;
  

  --accent: #f59e0b;
  --accent-hover: #d58b0a;
  --success: #10b981;
  --white: #ffffff;

  --transition-smooth: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}