.features {
  padding: 100px  50px;
  .title {
    font-size: 45px;
  }
  .feature-cards {
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-around;
    .card {
height: 420px;
      &::before {
      }
      &:hover {
        &::before {
        }
        .content {
          .heading,
          .para {
          }
        }
      }
      .content {
        img {
        }
        .hover {
        }
        .normal {
        }
      }
      &:hover {
        .content {
          .normal {
          }
          .hover {
          }
        }
      }
      .heading {
        font-size: 30px;
      }
      .para {
      }
      img {
      }
    }
  }
  @keyframes moving {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
