.features {
  padding: 120px 0;
  .title {
    font-size: 45px;
    margin-bottom: 16px;
  }

  .feature-cards {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    gap: 40px;

    .card {
      border-radius: 28px;

      &:hover {
        transform: translateY(-10px);
      }

      .content {
        padding: 40px 32px;
        gap: 18px;

        img {
          width: 240px;
        }

        .hover {
          top: 32px;
        }

        .heading {
          font-size: 22px;
        }

        .para {
          font-size: 16px;
          line-height: 1.9;
          max-width: 90%;
        }
      }
    }
  }
}
}