.features {
  padding: 70px  50px;
  .title {
    font-size: 45px;
  }
  .feature-cards {
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-around;
    .card {

      &::before {
        content: "";
        position: absolute;
        width: 160%;
        border-radius: inherit;
        background: var(--primary-color);
        transform-origin: center;
        animation: moving 4.8s linear infinite paused;
        transition: all 0.88s cubic-bezier(0.23, 1, 0.32, 1);
      }
      &:hover {
        box-shadow: 0rem 6px 13px rgba(10, 60, 255, 0.1),
          0rem 24px 24px rgba(10, 60, 255, 0.09),
          0rem 55px 33px rgba(10, 60, 255, 0.05),
          0rem 97px 39px rgba(10, 60, 255, 0.01),
          0rem 152px 43px rgba(10, 60, 255, 0);
        scale: 1.05;
        color: #000000;
        &::before {
          animation-play-state: running;
          z-index: -1;
          width: 20%;
        }
        .content {
          .heading,
          .para {
            color: #000000;
          }
        }
      }
      .content {
        img {
        }
        .hover {
        }
        .normal {
        }
      }
      &:hover {
        .content {
          .normal {
          }
          .hover {
          }
        }
      }
      .heading {
        font-size: 30px;
      }
      .para {
      }
      img {
      }
    }
  }
  @keyframes moving {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
