.partners {
  padding: 120px 0;
  .title {
    font-size: 45px;
    margin-bottom: 48px;
  }

  .logos-wrapper {
    .brandLogos {
      gap: 48px;
      animation-duration: 32s;

      .logo {
        padding: 20px 32px;

        img {
          width: 88px;
        }
      }
    }
  }
}
